@font-face {
    font-family: "Sidebar";
    src: url("./Sidebar.eot?4b34592dad0d5b6069e2a562a3d10b05?#iefix") format("embedded-opentype"),
url("./Sidebar.woff2?4b34592dad0d5b6069e2a562a3d10b05") format("woff2"),
url("./Sidebar.woff?4b34592dad0d5b6069e2a562a3d10b05") format("woff"),
url("./Sidebar.ttf?4b34592dad0d5b6069e2a562a3d10b05") format("truetype"),
url("./Sidebar.svg?4b34592dad0d5b6069e2a562a3d10b05#Sidebar") format("svg");
}

i {
    line-height: 1;
}

i[class^="sidebar-icon-"]:before, i[class*=" sidebar-icon-"]:before {
    font-family: Sidebar !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar-icon-leaf:before {
    content: "\f101";
}
